@use '../variables' as *;

.alert {
    padding: 1rem 1.5rem;
    border-radius: 0.4rem;
    margin-bottom: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    &.alert-blue { background-color: rgba(50, 150, 225, 0.2); color: var(--blue); border: 1px solid var(--blue); }
    &.alert-green { background-color: rgba(50, 175, 75, 0.2); color: var(--green); border: 1px solid var(--green); }
    &.alert-red { background-color: rgba(200, 75, 75, 0.2); color: var(--red); border: 1px solid var(--red); }
    &.alert-yellow { background-color: rgba(255, 225, 50, 0.2); color: #856404; border: 1px solid var(--yellow); }
}

.alert-close {
    background: none;
    border: none;
    font-size: 1.2rem;
    cursor: pointer;
    opacity: 0.5;
    width: auto;
    
    &:hover { opacity: 1; }
}
